.info-box-icon{
    background-color: #2223;
}
/*Dropzone*/
.dzStyling.well,
.dropzone.well {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}
.dzStyling .dz-default.dz-message,
.dropzone .dz-default.dz-message {
    background-image: none;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    left: 0;
    width: 100%;
    margin-left: auto;
}
.dzStyling .dz-default.dz-message span,
.dropzone .dz-default.dz-message span {
    display: inline;
    color: #555;
}
.red {
    color: #DD5A43 !important;
}
.bigger-150 {
    font-size: 150% !important;
}
.smaller-80 {
    font-size: 80% !important;
}
.grey {
    color: #777 !important;
}
.blue {
    color: #478FCA !important;
}
.dzStyling .dz-default.dz-message span .upload-icon,
.dropzone .dz-default.dz-message span .upload-icon {
    opacity: .7;
    filter: alpha(opacity=70);
    margin-top: 8px;
    cursor: pointer;
}
.dzStyling .dz-default.dz-message span .upload-icon:hover,
.dropzone .dz-default.dz-message span .upload-icon:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

#MyElement h3, #MyElementtwo h3 {
    margin: 0px !important;
    font-size: 20px;
}
#MyElement p, #MyElementtwo p{
    margin-bottom: 0rem;
}
.dzStyling.dz-clickable .dz-message, .dzStyling.dz-clickable .dz-message *,
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
    cursor: pointer;
}
.dzStyling .dz-default.dz-message,
.dropzone .dz-default.dz-message {
    background-image: none;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    left: 0;
    width: 100%;
    margin-left: auto;
}
.dzStyling .dz-message,
.dropzone .dz-message{
    margin: 2em 0;
}
.dzStyling, .dropzone{
    min-height: 150px;
    border: 2px solid rgba(0,0,0,0.3);
    background: white;
    background-color: white;
    padding: 20px 20px;
}
.input-price{
    border: 1px solid #4c703b
}
#MyElement2{
    margin-top: 10px;
}
.deleteFileBtn{
    cursor:pointer;
    position: absolute;
    top: 0px;
    right: 10px;
    opacity: 0;
}
.previouslyUploadedFiles{
    padding:2%;
    margin-top: 10px;
}
.file-container:hover .deleteFileBtn{
    opacity: 1;
}
.file-container{
    display: inline-block;
    width: 25%;
    margin-top: 2%;
    margin-right: 2%;
    border: 1px solid #dad7d7;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
    position: relative;
}
.delete-planHolder{
    position: absolute;
    top:0px;
    right: 10px;
    cursor: pointer;
}
.relative{
    position: relative;
}
.greyborder{
    border: 1px solid #cecaca;
}