.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,
body {
    /*font-family: "Roboto",sans-serif !important;*/
    font-family: 'Open Sans', sans-serif;
!important;
    /*background-image: url('/public/images/O7KlZIGA.png');*/
}

.newcf {
    padding-right: 0px;
    padding-left: 0px;
    padding: 50px 0px;
    /*margin-top:75px;*/
}

.pmt-20{
    padding-top: 20px;
}

.navbar {
    /*position: fixed;*/
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    z-index: 1048;
    width: 100%;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    /*border-radius:4px;*/
    background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

#mr {
    /* margin-top: -9% !important;*/
    /*height: 560px !important;;*/
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:active {
    color: #fff;
    background-color: #ff5129;
}

.navbar-nav > li:hover a:not(.dropdown-item) {
    color: white;
    -webkit-transition: all .4s ease-in-out;
}

.center-block {
    float: none;
}

.navbar-nav > li:hover:not(.user-controls) {
    background-color: #ff5129;
    color:white;
    -webkit-transition: all .4s ease-in-out;
}

.main-menu .current{
    background-color: #ff5129;
    color:white !important;
    -webkit-transition: all .4s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a:focus {
    color: #000;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover,.navbar-inverse .navbar-toggle .icon-bar {

    background-color: #ff5129;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #f5f5f5;
}


.navbar-inverse .navbar-toggle {
    border-color: #ff5129;
}

.navbar-inverse .navbar-nav > li > a {
    color: #333;
    font-weight: 500;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse {
    box-shadow: 0px 2px 3px #808080b3;
    background-color: #fff;
    border-color: #ffffff;
}

.footer {
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222222;
    color: white;
    /*text-align: center;*/
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network a.icoRss:hover {
    background-color: #f0542d;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    border-radius: 5%;
    text-align: center;
    width: 45px;
    height: 45px;
    font-size: 15px;

    border: 1px solid #fff;
}
@media only screen and (max-width: 600px) {
    .icoRss {
        margin-top: 20px !important;:
    }
    /*}
@media only screen and (max-width: 600px) {*/
    p {
        margin: 1px 12px 10px;
    }
}
@media only screen and (max-width: 600px){
    .dropdown-content{
        position:initial !important;

    }
}


.social-circle li i {
    margin: 0;
    line-height: 45px;
    text-align: center;
}

.footer-right p i {
    color: #7e7c7c;
}

.social-circle i {
    color: #fff;

}

.dropbtn {

    text-decoration: none;
    padding: 16px;
    font-size: 16px;

    cursor: pointer;

    color: #ff7829;
}

.dropbtn:hover {
    text-decoration: none;
    color: #ff7829;

}

.downloadHistory {
    min-height: 650px;
}

.user-controls .dropdown {

    /*margin-top: 10%;*/
    margin-top: 15px;
    position: relative;
    display: inline-block;
}


body .pac-container{
    z-index: 1100 !important;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 30px;
    right: 0px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.dropdown:hover .dropbtn {
    text-decoration: none;
    color: #ff7829 !important;
}

.navbar .container-fluid {
    background-color: #fbfbfb;
}

.top-header .headerLinks:hover {
    text-decoration: none;
    background-color: #ff5129;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    color: #efefef;
}

.top-header .headerLinks {
    padding: 7px 10px;
    display: inline-block;
}

/*.tbd-frontend .productDetail  .well {
     margin-left: -12px;
}*/

.tbd-frontend .well {
    /*    border-radius: 0px;
        margin-left: -12px;*/
    border-radius: 0px;

    border-top: none;
    margin-top: -1px;
    /*padding-top: 0;*/

}

.dropdown-item {
    text-decoration: none;
    color: #333;
}

#qtyTakeOff ,#award, #bidResult{
    /*margin-left: -13px;*/
    padding-left: 0px;
}
{
/*margin-left: -13px;*/

}
#qtyTakeOff .table{
    /*margin-left: -13px;*/
}
.dropdown-item:hover {
    text-decoration: none;
    color: #ff7829;
    background-color: #f8f9fa;
}

.tbd-header nav {
    margin-bottom: 0px !important;
    border-radius: 0px;
    /* height: 75px;*/
}

.pagination {
    /*background-color: gainsboro;*/
    padding: 20px;
    display: block !important;
    text-align: center;

}

.pagination .nav{
    background-color: #dedede;
}

.pagination a {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    font-size: 15px;
    color: #f0542d;
}

.pagination > .disabled > a {
    color: #f0542d;
}

.downloadHistory .pagination {
    text-align: right;
}

.pagination > li {

}

.main-content {
    text-align: center;
    float: right;
}

.sidebar1 {
    background: #eee;
    padding: 20px;
    min-height: 62%;
    /*position: fixed;*/
    /*width: 20%;*/

}

.sidebar1.affix {
    width: 300px;
}

.tbd-header + .container {
    min-height: 650px;
}

/* .productDetail, */
.container-fluid,.top-header  .container-fluid, .footer .container-fluid, .tbd-header .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
}

.btn-featured:hover::before, .btn-featured:focus::before, .btn-featured:active::before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

.btn-featured::before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: "transform, opacity";
    transition-property: "transform, opacity";
}

.btn-featured.btn-default {
    background-color: #666;
}

.btn-featured:hover, .btn-featured:focus, .btn-featured:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.btn-featured.btn-sm {
    height: 45px;
}

.btn.btn-reveal {
    padding-left: 28px;
    padding-right: 28px;
    overflow: hidden;
    position: relative;

}

.btn.btn-reveal span {
    display: inline-block;
    position: relative;
    left: 0;
}

.btn.btn-reveal:hover span {
    left: 16px;
}

.btn-3d:hover {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.btn-3d {
    line-height: 25px;
    margin-bottom: 3px;
}

.btn-orange {
    background-color: #f0542d;
    color: #FFF !important;
}

.btn-blue {
    background-color: #1265A8;
    color: #FFF !important;
}

.btn-3d {
    border-bottom: 3px solid rgba(0, 0, 0, .15);
}

body:not(.device-touch) .btn.btn-reveal i, body:not(.device-touch) .btn.btn-reveal span {
    -webkit-transition: left 0.3s ease, right 0.3s ease;
    -o-transition: left 0.3s ease, right 0.3s ease;
    transition: left 0.3s ease, right 0.3s ease;
}

.btn.btn-reveal:hover i {
    left: 0;
}

.btn.btn-reveal i {
    display: block;
    position: absolute;
    left: -32px;
    width: 32px;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 3px;
    font-size: 17px;
    line-height: 34px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.form-control {
    border-radius: 0px;
    height: 40px;
    box-shadow: unset;

}

.form-control:focus {
    border-color: #f6cab4;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgb(237, 218, 214);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgb(237, 218, 214);
}

.backimage {
    background-image: url('../images/search-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

/*.checkboxit {
    !* Double-sized Checkboxes *!
    -ms-transform: scale(2); !* IE *!
    -moz-transform: scale(2); !* FF *!
    -webkit-transform: scale(2); !* Safari and Chrome *!
    -o-transform: scale(2); !* Opera *!
    padding: 10px;

}*/

.container-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #595757;
    font-weight: 400;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fff;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: #E95D2C;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.search-page {
    margin-top: 1%;
    margin-bottom: 4%;
}

.save-search {
    background-color: #f4f4f4;
}

.no-padding {
    padding: 0px !important;
}

.container-fluid > .navbar-header {
    min-height: 75px;
}

.navbar-toggle {
    margin-top: 18px;
}

.projects-list .project-title a:hover {
    text-decoration: none;
}

.projects-list .project-title, .projects-list .project-title a {
    color: #f0542d;
    text-transform: uppercase;
    font-weight: bold;
}

.projects-list .project-description {
    color: #6b6767;
}

.projects-list .location {

}

.projects-list .text {
    margin-left: 2%;
    color: #6b6767;
}

.projectsCount {
    color: #969696;
}

.projects-list .bid-date {

}

.projects-list .bid-amount {

}

.projects-list .project-details {

}

.projects-list i.fa {
    color: #7a848d;
}

.white-text {
    color: white !important;
}

.row-full {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 100px;
    margin-top: 100px;
    left: 50%;
}

.tbd-banner {
    background-image: url('../images/banner-img.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: inherit;
    padding: 115px 0px;

}

.top-header {
    background-color: #4b4b4b;
    /*min-height:50px;*/
    color: white;
}

.top-header a {
    color: white;
}

.navbar.affix {
    top: 0px;
}

.tbd-frontend .nav-pills > li > a {
    border-radius: 0px;
}

.tbd-frontend .thumbnail {
    padding: 0;
    margin-bottom: 0;
    border-radius: 0px;
}
.productDetail .col-md-4 h4, .productDetail .col-md-6 h4{
    margin-top: 0px;
}
.productDetail #owners .col-md-6 h4,
.productDetail #planholder .col-md-4 h4
{
    margin-top: 10px;
}
.productDetail .col-md-4 h4, .productDetail .col-md-6 h4, .orange-color {
    color: #f0542d


}

.productDetail .projectTitle {
    /*height:64px;*/
    margin-right: 0px;
    margin-left: 0px;
    background-color: #74808a;
    /*padding-right: 2%;*/

}
.features-ribon .col-lg-2 h4{
    display: none;
    opacity: 0;
}
.productDetail .downloadHistoryUser a {
    /*font-size:20px;
    text-decoration: none;
    color: #fff;*/
}

.productDetail .specs-docs-image {
    width: 25%;
}

.productDetail .tdone h4, .productDetail .tdtwo h4 {
    font-size: 15px;
}

.productDetail .tdone {
    width: 20%;
    background-color: #c8c8c8;
}

.productDetail .tdtwo {

    background-color: #dddbdc;
}

.productDetail {
    margin-top: 2%;
    margin-bottom: 4%;
    min-height: 750px;
}

/*.productDetail table, th,*/ td {
                                  /*border: 1px solid #fff;*/
                              }

.productDetail .newth, #example thead th {
    background-color: #808f9b;
    color: #fff;
}

.productDetail .tab {
    float: left;
    background-color: #f1f1f1;
    width: 20%;
    /*height: 300px;*/
}

.productDetail .instantAccessForm {
    background-color: white;
    border-top: 5px solid #f0542d;
    padding: 20px;
}

.productDetail #printableArea .lock {
    color: gray;
}

.productDetail #printableArea p .fa {
    color: #f0542d;
}

/* Style the buttons inside the tab */
.productDetail .tab a {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    text-decoration: none;
}

/* Change background color of buttons on hover */
.productDetail .tab a:hover {
    background-color: #f0542d;
    color: white;
}

/* Create an active/current "tab button" class */
.productDetail .tab a.active {
    background-color: #89959f;
    color: white;
}

.productDetail .no-results{
    margin-top: 50px;
}
#award .project-awarded{
    background-color: #f0542d;
    color:white;
}
.productDetail .guest-tab .well{
    /*background-color: unset;
    border: none;*/
}
/* Style the tab content */
.productDetail .tabcontent.guest-tab {
    /*float: left;*/
    padding-left: 0px;
    width: 100%;
}
.productDetail .tabcontent > h4, .productDetail .tabcontent .col-md-12 > h4{
    display: none;
}
.productDetail .tabcontent {
    float: left;
    padding-left: 0;
    width: 80%;
}

.pricing {
    background: linear-gradient(to right, #ddd, #f5f5f5);
    /*padding-bottom: 7%;*/
}

.pricing .card {
    background-color: #fff;
    /* border: none;*/
    /*border-radius: 1rem;*/
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    /*font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;*/
    width: 100%;
}

.pricing .card, .modal-header {
    border-top: 5px solid #f0542d;
}

.modal-content {
    border-radius: unset;
}

.uppcase {
    text-transform: uppercase;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
    margin-top: 0;
}
.dropdown-menu li a{
    color: black !important;
    padding: 15px;
}
.main-menu .dropdown{
    /*margin-top: 0 !important;*/
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    /* color: #262626; */
    text-decoration: none;
    /* background-color: #f5f5f5; */
    background-color: #ff5129 !important;
    color: white !important;
    -webkit-transition: all .4s ease-in-out !important;
}

.dropdown-menu li:hover{

}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}


/* Contact Us Page*/
.google-map {
    width: 100%;
    float: left;
    position: relative;
}

.google-map iframe {
    width: 100%;
    height: 485px;
    border: 0px;
}

.fa-ul li:nth-child(even), .fa-ul li:nth-child(odd){
    padding: 5px;
}
.fa-ul li:nth-child(even){
    background-color: #f5f5f5;
}

ul.cform {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    float: left;
}

ul.cform li {
    margin-bottom: 30px;
}

ul.cform li:last-child {
    margin: 0px;
}

ul.cform li.half {
    width: 50%;
    float: left;
}

.pl-15 {
    padding-left: 15px;
}

.pr-15 {
    padding-right: 15px;
}

ul.cform li.full {
    width: 100%;
    float: left;
}

ul.cform .form-control {
    border: 2px solid #e1e1e1;
    background: #fafafa;
    color: #555555;
    height: 53px;
    line-height: 49px;
    padding: 0 20px;
}

ul.cform textarea.textarea-control {
    border: 2px solid #e1e1e1;
    background: #fafafa;
    color: #555555;
    padding: 20px;
    width: 100%;
    height: 165px;
    border-radius: 5px;
}

.cform .fsubmit {
    width: 100%;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    background: #f0542d;
    border: 0px;
    /*height: 55px;*/
    line-height: 55px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.contact-form h3 {
    font-weight: 700;
    margin: 0 0 25px;
}

.c-info {
    background: #ffffff;
    border: 1px solid #eeeeee;
    /*border-radius: 5px;*/
    padding: 30px;
}

.c-info:hover {
    box-shadow: 0 0 0 0.2rem #ff78295e;
}

.contact-map-info h6, .c-info h6 {
    font-weight: 600;
    color: #333333;
    font-size: 20px;
}

.contact-map-info p, .c-info p {
    margin: 0px;
    color: #555555;
    font-size: 16px;
    line-height: 26px;
}

.contact-info {
    margin-top: 70px;
}

.contact-info h3 {
    font-weight: 700;
    margin: 0 0 25px;
}

.contact-form {
    width: 100%;
    float: left;
}

.mb60 {
    margin-bottom: 60px;
}

.contact-map-info {
    background: #fff;
    border-radius: 5px;
    width: 350px;
    position: absolute;
    right: 50px;
    top: 50px;
    padding: 30px;
}

.contact-map-info ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.contact-map-info ul li {
    margin-bottom: 30px;
}

.contact-map-info ul li:last-child {
    margin: 0px;
}

.contact-page {
    min-height: 100vh;
    padding: 60px 0;
    background: #f7f7f7;
}

.user-notices h3, #MyElement h3, #MyElementtwo h3 {
    margin: 0px !important;
    font-size: 20px;
}

.pagination > li {
    display: inline-block;
}

.grey-bg{
    background-color: #ff7829;
}

.linksContainer a:last-child{
    margin-right: 8px;
}

@media only screen and (min-width: 600px) {
    .tabcontent .print-area,
    .tabcontent .table-responsive{
        margin-left: 0px;
    }

}
@media only screen and (max-width: 600px) {

    .backimage {
        background-color: #f5f5f5;
        background-image: url('');
    }

    #cid {
        /*margin-top: 20%;*/
    }

    .sidebar1 {
        /*background: #eee;*/

        /*padding: 20px;*/
        /*min-height: 62%;*/
        /*position: relative;*/
        /*width: 100%;*/

    }

    .tbd-banner {
        background-image: none;
        padding: 20px 0px;
    }
}

/*Margin and Padding helpers*/
/*xs*/
.p-xs {
    padding: .25em;
}

.p-x-xs {
    padding: 0 .25em;
}

.p-y-xs {
    padding: .25em 0;
}

.p-t-xs {
    padding-top: .25em;
}

.p-r-xs {
    padding-right: .25em;
}

.p-b-xs {
    padding-bottom: .25em;
}

.p-l-xs {
    padding-left: .25em;
}

.m-xs {
    margin: .25em;
}

.m-x-xs {
    margin: 0 .25em;
}

.m-y-xs {
    margin: .25em 0;
}

.m-r-xs {
    margin-right: .25em;
}

.m-l-xs {
    margin-left: .25em;
}

.m-t-xs {
    margin-top: .25em;
}

.m-b-xs {
    margin-bottom: .25em;
}

.features-ribon .col-xs-6{
    min-height: 180px;
}
.mb-10{
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .secondElement{
        margin-top: 10px;
    }

    #mobilediv {
        margin-top: 0px !important;

    }

    .newcf {
        /*margin-top: 20% !important;*/

    }

    .tbd-banner {
        padding: 100px 0px;
    }

    .carousel-inner {
        /*height: 320px;*/
    }

    .mobileresp {

        display: none;
    }

    .mobilep {
        width: 100% !important;
    }

    .mobiledivv {

        /*margin-left: 6% !important;*/
    }

    .footer-right {
        margin-left: 0% !important;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: rgba(255, 255, 255, .15);
        /*background-color: #f5f5f5;*/
    }

    .mobileimg {

        width: 50%;
    }

    .container-fluid, .top-header .container-fluid, .container-fluid, .footer .container-fluid, .tbd-header .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .custab {
        margin-top: 5px;
    }

    .productDetail .tab {
        float: none;
        /*background-color: #f1f1f1;*/
        width: 100%;
        /*height: 300px;*/
    }

    .productDetail .tabcontent{
        width: 100%;
        padding-left: 0px;
    }
    .productDetail .tab button.active{
        color: #fff;
        background-color: #f0542d;
    }
    .projectTitle .row.text-center{
        text-align: left;
    }

    .productDetail .projectTitle{
        padding: 15px 0px;
    }
    .save-search{
        padding: 20px 0px;
    }

}

/*@media (min-width: 768px){*/
    /*.modal-dialog {*/
        /*width: 700px !important;*/
        /*margin: 100px auto !important;*/
    /*}*/
/*}*/

.modal-backdrop {
    z-index: 1049 !important;
}
/*sm*/
@media (min-width: 768px) and (max-width: 1200px) {



    .navbar-form {
        padding-right: 0px;
    }

    .tbd-header nav {
        height: 125px;
    }

    .search-page {
        /*margin-top: 120px;*/
    }
    .save-search{
        padding: 20px 0px;
    }



}

@media (min-width: 768px) {
    /*sm*/

    .p-sm {
        padding: .5em;
    }

    .p-x-sm {
        padding: 0 .5em;
    }

    .p-y-sm {
        padding: .5em 0;
    }

    .p-t-sm {
        padding-top: .5em;
    }

    .p-r-sm {
        padding-right: .5em;
    }

    .p-b-sm {
        padding-bottom: .5em;
    }

    .p-l-sm {
        padding-left: .5em;
    }

    .m-sm {
        margin: .5em;
    }

    .m-x-sm {
        margin: 0 .5em;
    }

    .m-y-sm {

        margin: .5em 0;
    }

    .m-t-sm {
        margin-top: .5em;
    }

    .m-r-sm {
        margin-right: .5em;
    }

    .m-b-sm {
        margin-bottom: .5em;
    }

    .m-l-sm {
        margin-left: .5em;
    }

    .container-fluid > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container > .navbar-header {
        /*   margin-right: 150px;
           margin-left: 150px;*/
    }

    .features-ribon .col-sm-4 {
        min-height: 200px;
    }

}

/*md*/

/* .row {

     background-color: white;

 }*/
.navbar-inverse .navbar-collapse{
    border-color: rgba(255, 255, 255, .15);
    /*background-color: white;*/
}
.nav-rigter {
    float: right;
}
@media screen and (max-width: 600px) {

    .nav-rigter {
        float: none !important;
    }
}


@media (min-width: 992px) {
    .pmt-20{
        padding-top: 0;
    }
    .p-md {
        padding: 1em;
    }

    .p-x-md {
        padding: 0 1em;
    }

    .p-y-md {
        padding: 1em 0;
    }

    .p-t-md {
        padding-top: 1em;
    }

    .p-r-md {
        padding-right: 1em;
    }

    .p-b-md {
        padding-bottom: 1em;
    }

    .p-l-md {
        padding-left: 1em;
    }

    .m-md {
        margin: 1em;
    }

    .m-x-md {
        margin: 0 1em;
    }

    .m-y-md {
        margin: 1em 0;
    }

    .m-t-md {
        margin-top: 1em;
    }

    .m-r-md {
        margin-right: 1em;
    }

    .m-b-md {
        margin-bottom: 1em;
    }

    .m-l-md {
        margin-left: 1em;
    }

    .pricing .card:hover {
        margin-top: -0.25rem;
        margin-bottom: 0.25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

    .pricing .card:hover .btn {
        opacity: 1;
    }

    /*#mr {
        height: 1050px !important;
    }*/
}

@media (max-width: 992px) {

    #mr {
        /*height: 1100px !important;*/
    }

    #mr2 {
        margin-top: 24% !important;
    }
}
@media only screen and (max-width: 600px){
    .nav-rigter{
        display: none;
    }
}

/*lg*/
@media (min-width: 1200px) {
    .p-lg {
        padding: 1.5em;
    }

    .p-x-lg {
        padding: 0 1.5em;
    }

    .p-y-lg {
        padding: 1.5em 0;
    }

    .p-t-lg {
        padding-top: 1.5em;
    }

    .p-r-lg {
        padding-right: 1.5em;
    }

    .p-b-lg {
        padding-bottom: 1.5em;
    }

    .p-l-lg {
        padding-left: 1.5em;
    }

    .m-lg {
        margin: 1.5em;
    }

    .m-x-lg {
        margin: 0 1.5em;
    }

    .m-y-lg {
        margin: 1.5em 0;
    }

    .m-t-lg {
        margin-top: 1.5em;
    }

    .m-r-lg {
        margin-right: 1.5em;
    }

    .m-b-lg {
        margin-bottom: 1.5em;
    }

    .m-l-lg {
        margin-left: 1.5em;
    }

    .container {
        /*width: 1320px;*/
    }
}

/*xl*/
.p-xl {
    padding: 3em;
}

.p-x-xl {
    padding: 0 3em;
}

@media only screen and (max-width: 600px){
    .p-y-xl {

        padding: 3em 0;
        display: inline-block;
    }
}
/*@media (min-width: 600px){

    .p-y-xl{
        display: inline-block;
}
}*/

.p-t-xl {
    padding-top: 3em;
}

.p-r-xl {
    padding-right: 3em;
}

.p-b-xl {
    padding-bottom: 3em;
}

.p-l-xl {
    padding-left: 3em;
}

.m-xl {
    margin: 3em;
}

.m-x-xl {
    margin: 0 3em;
}

.m-y-xl {
    margin: 3em 0;
}

.m-t-xl {
    margin-top: 3em;
}

.m-r-xl {
    margin-right: 3em;
}

.m-b-xl {
    margin-bottom: 3em;
}

.m-l-xl {
    margin-left: 3em;
}

.m-t-0 {
    margin-top: 0px;
}

.p-t-0 {
    padding-top: 0px;
}

.m-b-0 {
    margin-bottom: 0px
}

.m-0 {
    margin: 0px
}

.site-footer .social-network .fa, .site-footer .social-network .fas{
    font-family: "FontAwesome";
}
.material-icons{
    color:lightskyblue;

}

.list li, .list li i{
    font-size: 15px !important;
}
.list li{
    list-style: none;
}
.list{
    padding-left: 0px;
    color:#918d8d;
}
.paragraph{color:#918d8d;}
.video-embed-tbd{
    cursor: pointer;
}

.header-content {
    color: white;
}
.header-content .intro{
    font-size: 24px;
}
.header-content .heading{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}
.header-content ul li{
    font-size: 22px;
}
.header-content ul{
    list-style: none;
    padding-left: 0px;
    margin: 20px 0px;
}
.large-btn{
    width:350px;
}
.video-container{
    text-align: center;
    width: 70%;
    margin: 30px auto;

}
#example_paginate .pagination{
    padding-top: 0px;
    padding-right: 0px;
}
#example_paginate{
    float: right;
}
.loader, .loader::before, .loader::after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader::before, .loader::after {
    content: '';
    position: absolute;
    top: 0;
}
.loader::before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader::after {
    left: 3.5em;
}
.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('../images/default.gif');
    background-repeat: no-repeat;
    background-color: #FFF;
    background-position: center;
}
.navbar-right{
    display: contents;
}
.sash tr td{
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 40px;

}
@media only screen and (max-width: 600px) {
    .top-header .col-md-12 {
        display: inline;
    }
}
/*@media only screen and (max-width: 600px) {
    .navbar-right {

        display: contents !important;
    }
}*/
.sash tr td.prova:after {
    content: attr(data-ribbon);
    position: absolute;
    width: 81px;
    height: 32px;
    background: #f0542d;
    /*background: #428bca;*/
    color: white;
    top: -5px;
    text-align: center;
    line-height: 15px;
    margin-top: -5px;
    /* right: 127px; */
    left: -37px;
    transform: rotate(137deg);
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}



.footer-left{
    margin-left: 0% !important;
}
.col-lg-4 text-center {

    display: inline-block ;
}

.pricing .card-body{
    min-height: 440px;
}