@media print {
    body {

        color: #000;
        background-color: #fff;
        margin: 0;

    }
    @page {

        margin: 1cm;
        margin-bottom: 2cm;

    }
    .sash tr td.prova:after{
        top: 5px;
    }

    .print-logo{
        display: block !important;
    }

    .print-reduce{
        width: 50%;
    }
    .print-reduce1{
        width: 50%;
        float: right;
        margin-top: -848px;
    }

    #content {
        display: table;
    }

    #pageFooter {
        display: table-footer-group;
    }

    #pageFooter:after {
        counter-increment: page;
        content: counter(page);
    }

    #pageFooter:after {
        counter-increment: page;
        content:"Page " counter(page);
        left: 0;
        top: 100%;
        white-space: nowrap;
        z-index: 20;
        -moz-border-radius: 5px;
        -moz-box-shadow: 0px 0px 4px #222;
        background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    }

}
