.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,
body {
    /*font-family: "Roboto",sans-serif !important;*/
    font-family: 'Open Sans', sans-serif;
!important;
    /*background-image: url('/public/images/O7KlZIGA.png');*/
}

.newcf {
    padding-right: 0px;
    padding-left: 0px;
    padding: 50px 0px;
    /*margin-top:75px;*/
}

.pmt-20 {
    padding-top: 20px;
}

.con-form {
    margin-top: 90px;
    margin-bottom: 50px;
}

.quotes.con-form{
    margin-top: 40px;
    margin-bottom: 50px;
}

.quotes ul.cform .form-control {
    border: 1px solid #e1e1e1;
}

.fsubmit {
    background-image: url('../images/blue-button-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #084887;
    color: #FFF !important;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 9px;
    padding-top: 10px;
    min-width: 160px;
    font-weight: bold;
}

.blue-text{
    color: #084887;
}

.dzStyling.well,
.dropzone.well {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}

.dzStyling .dz-default.dz-message,
.dropzone .dz-default.dz-message {
    background-image: none;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    left: 0;
    width: 100%;
    margin-left: auto;
}

.dzStyling .dz-default.dz-message span,
.dropzone .dz-default.dz-message span {
    display: inline;
    color: #555;
}

.red {
    color: #DD5A43 !important;
}

.bigger-150 {
    font-size: 150% !important;
}

.smaller-80 {
    font-size: 80% !important;
}

.grey {
    color: #777 !important;
}

.dropzone .blue {
    color: #478FCA !important;
}

.dzStyling .dz-default.dz-message span .upload-icon,
.dropzone .dz-default.dz-message span .upload-icon {
    opacity: .7;
    filter: alpha(opacity=70);
    margin-top: 8px;
    cursor: pointer;
}

.dzStyling .dz-default.dz-message span .upload-icon:hover,
.dropzone .dz-default.dz-message span .upload-icon:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

#MyElement h3, #MyElementtwo h3 {
    margin: 0px !important;
    font-size: 20px;
}

#MyElement p, #MyElementtwo p {
    margin-bottom: 0rem;
}

.dzStyling.dz-clickable .dz-message, .dzStyling.dz-clickable .dz-message *,
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
    cursor: pointer;
}

.dzStyling .dz-default.dz-message,
.dropzone .dz-default.dz-message {
    background-image: none;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    left: 0;
    width: 100%;
    margin-left: auto;
}

.dzStyling .dz-message,
.dropzone .dz-message {
    margin: 2em 0;
}

.dzStyling, .dropzone {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
    background-color: white;
    padding: 20px 20px;
}

.navbar {
    /*position: fixed;*/
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    z-index: 1048;
    width: 100%;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    /*border-radius:4px;*/
    background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

#myNavbar {
    background-color: #fff;
    padding: 0px;
}

.tag-subcontractor {
    background-image: url('../images/tag-subcontractor.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 40%;
}

.subcontactor-listing-btn {
    min-width: 125px;
    color: white;
}

#mr {
    /* margin-top: -9% !important;*/
    /*height: 560px !important;;*/
}

.pricing-plans .col-md-3 {
    /*min-height: 455px;*/
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:active {
    color: #fff;
    background-color: #084887;
}

.navbar-nav > li:hover a:not(.dropdown-item) {
    color: white;
    -webkit-transition: all .4s ease-in-out;
}

.center-block {
    float: none;
}

.navbar-nav > li:hover:not(.user-controls) {
/ / background-color: #ff5129;
    color: white;
    -webkit-transition: all .4s ease-in-out;
}

.main-menu .current {
    /*background-color: #084887;*/
    /*color:white !important;*/
    -webkit-transition: all .4s ease-in-out;
}

.main-menu .current + div {
    color: black;
    display: block !important;
    border-top: 1px solid #39c1a8;
    width: 70%;
    border-radius: 7px 7px 7px 7px;
    height: 3px;
    background-color: #39c1a8;
    text-align: center;
    margin: 0px auto;
    margin-top: -5px;
}

.main-menu .current:hover {
    color: #084887 !important;
}

/*
#myNavbar .col-md-10{
    width: 82.33%;
}
*/
.navbar-inverse .navbar-nav > li > a:focus {
    color: #000;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #084887;
}

.border-first {
    border: 1px solid #dfdfdf;
    border-radius: 19px;
    padding: 40px;
}

.border-first.border-last {
    padding: 25px 0 45px;
}

.border-first.border-last p {
    font-size: 16px;
    padding-bottom: 20px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #fff;
}

.navbar-inverse .navbar-toggle {
    border-color: #084887;
}

.navbar-inverse .navbar-nav > li > a {
    color: #333;
    font-weight: 500;
    font-size: 15px;
}

.navbar-inverse .navbar-nav > li > a:active {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: black;
}

.navbar-inverse .navbar-nav > li > a:hover + div {
    color: black;
    display: block !important;
    border-top: 1px solid #39c1a8;
    width: 70%;
    border-radius: 7px 7px 7px 7px;
    height: 3px;
    background-color: #39c1a8;
    text-align: center;
    margin: 0px auto;
    margin-top: -5px;
}

.menu-green-border {

    display: none;
}

.navbar-inverse {
    /*box-shadow: 0px 2px 3px #808080b3;*/
    background-color: #fff;
    border-color: #ffffff;
}

.footer {
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #454545;
    color: white;
    /*text-align: center;*/
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network a i:hover {
    color: #fff !important;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    border-radius: 5%;
    text-align: center;
    width: 45px;
    height: 45px;
    font-size: 25px;

    /*border: 1px solid #fff;*/
}

.social-circle li i {
    margin: 0;
    line-height: 45px;
    text-align: center;
}

.footer-right p i {
    color: #7e7c7c;
}

.social-circle i {
    color: #b5b5b5;

}

.dropbtn {

    text-decoration: none;
    padding: 16px;
    font-size: 16px;

    cursor: pointer;

    color: #084887;
}

.dropbtn:hover {
    text-decoration: none;
    color: #084887;

}

.downloadHistory {
    min-height: 650px;
}

.user-controls .dropdown {

    /*margin-top: 10%;*/
    margin-top: 15px;
    position: relative;
    display: inline-block;
}

.user-controls .dropdown.others {
    /*margin-top: 0px;*/
}

body .pac-container {
    z-index: 1100 !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 30px;
    right: 0px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.dropdown:hover .dropbtn {
    text-decoration: none;
    color: #084887 !important;
}

.navbar .container-fluid {
    /*background-color: #fbfbfb;*/
}

.navbar .form-control {
    border: 1px solid #efefef !important;
    background-color: #efefef !important;
}

.search-btn {
    background-color: #efefef;

    border: 1px solid #efefef;
}

.top-header .headerLinks:hover {
    text-decoration: none;
    background-color: #ff5129;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    color: #efefef;
}

.top-header .headerLinks {
    padding: 7px 10px;
    display: inline-block;
}

/*.tbd-frontend .productDetail  .well {
     margin-left: -12px;
}*/

.tbd-frontend .well {
    /*    border-radius: 0px;
        margin-left: -12px;*/
    border-radius: 0px;

    border-top: none;
    margin-top: -1px;
    /*padding-top: 0;*/

}

.dropdown-item {
    text-decoration: none;
    color: #333;
}

#qtyTakeOff, #award, #bidResult {
    /*margin-left: -13px;*/
    padding-left: 0px;
}

#qtyTakeOff .table {
    /*margin-left: -13px;*/
}

.dropdown-item:hover {
    text-decoration: none;
    /*color: #084887;*/
    color: #084887;
    background-color: #f8f9fa;
}

.tbd-header nav {
    margin-bottom: 0px !important;
    border-radius: 0px;
    /* height: 75px;*/
}

.pagination {
    /*background-color: gainsboro;*/
    padding: 20px;
    display: block !important;
    text-align: center;

}

.pagination .nav {
    background-color: #084887;
    color: white;
}

.pagination a {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    font-size: 15px;
    /*color: #084887;*/
    font-size: 20px;
}

.pagination .page.current {
    background-color: #efefef;
    color: #084887;
}

.pagination > .disabled > a {
    color: #084887;
}

.downloadHistory .pagination {
    text-align: right;
}

.pagination > li {

}

.main-content {
    text-align: center;
    float: right;
}

.sidebar1 {
    background: #eee;
    padding: 20px;
    min-height: 62%;
    /*position: fixed;*/
    /*width: 20%;*/

}

.sidebar1.affix {
    width: 300px;
}

.tbd-header + .container {
    min-height: 650px;
}

/* .productDetail, */

.btn-featured:hover::before, .btn-featured:focus::before, .btn-featured:active::before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

.btn-featured::before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: "transform, opacity";
    transition-property: "transform, opacity";
}

.btn-featured.btn-default {
    background-color: #666;
}

.btn-default {
    color: #084887;
}

.btn-featured:hover, .btn-featured:focus, .btn-featured:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.btn-featured.btn-sm {
    height: 45px;
}

.btn.btn-reveal {
    padding-left: 28px;
    padding-right: 28px;
    overflow: hidden;
    position: relative;

}

.btn.btn-reveal span {
    display: inline-block;
    position: relative;
    left: 0;
}

.btn.btn-reveal:hover span {
    left: 16px;
}

.btn-3d:hover {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.btn-3d {
    line-height: 25px;
    margin-bottom: 3px;
}

.btn-orange {
    background-color: #f0542d;
    color: #FFF !important;
}

.btn-blue {
    background-color: #1265A8;
    color: #FFF !important;
}

.btn-3d {
    /*border-bottom: 3px solid rgba(0, 0, 0, .15);*/
}

body:not(.device-touch) .btn.btn-reveal i, body:not(.device-touch) .btn.btn-reveal span {
    -webkit-transition: left 0.3s ease, right 0.3s ease;
    -o-transition: left 0.3s ease, right 0.3s ease;
    transition: left 0.3s ease, right 0.3s ease;
}

.btn.btn-reveal:hover i {
    left: 0;
}

.btn.btn-reveal i {
    display: block;
    position: absolute;
    left: -32px;
    width: 32px;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 3px;
    font-size: 17px;
    line-height: 34px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.form-control {
    /*border-radius: 0px;*/
    height: 40px;
    box-shadow: unset;

}

.user-controls {
    max-width: 110px;
}

.form-control:focus {
    border-color: white;
    outline: 0;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgb(237, 218, 214);*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgb(237, 218, 214);*/
}

select:focus {
    outline: none !important;
}

select:active {
    outline: none !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}

input {
    outline: none;
}

.backimage {
    background-image: url('../images/search-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.container-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #595757;
    font-weight: 400;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fff;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.container-checkbox input:checked ~ .checkmark {
    background-color: #E95D2C;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.search-drop-toggle {
    text-align: right !important;
}

.search-page {
    margin-top: 1%;
    margin-bottom: 4%;
    min-height: 450px;
}

.save-search {
    background-color: #f4f4f4;
}

.no-padding {
    padding: 0px !important;
}

.navbar-toggle {
    margin-top: 18px;
}

.projects-list .project-title a:hover {
    text-decoration: none;
}

.projects-list .project-title, .projects-list .project-title a {
    color: #084887;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 15px;
}

.projects-list .project-description {
    color: #6b6767;
    font-size: 18px;
}

.projects-list .location {

}

.projects-list .text {
    margin-left: 2%;
    color: #6b6767;
}

.location .text {
    margin-left: 0.3%;
    color: #39c1a8;
}

.location i {
    font-size: 15px;
    color: #39c1a8;
}

.secondElement {
    text-align: right;
    padding-right: 50px;
}

.amount-label {
    vertical-align: top;
    padding-top: 19px;
    color: #084887;
}

.amount-itself {
    font-size: 30px;
    margin-top: 12px;
    display: inline-block;
    margin-left: 10px;
    color: #084887;
}

.projectsCount {
    color: #969696;
}

.projects-list .bid-date {
    color: #084887;
}

.projects-list .bid-date .text {
    color: #084887;
}

.projects-list .bid-amount {
    padding-bottom: 10px;
}

.projects-list .project-details {
    padding-top: 40px;
    padding-bottom: 20px;
}

.projects-list i.fa {
    color: #7a848d;
}

.white-text {
    color: white !important;
}

.row-full {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 100px;
    margin-top: 100px;
    left: 50%;
}

.tbd-banner {
    background-image: url('../images/banner-img.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: inherit;
    padding: 115px 0px;

}

.new-search{
    background-size: contain !important;
    height: 44px;
    width: 125px;
    font-size: 16px;
    font-weight: bold;
}

.top-header {
    background-color: #084887;
    /*min-height:50px;*/
    color: white;
}

.top-header a {
    color: white;
}

.navbar.affix {
    top: 0px;
}

.tbd-frontend .nav-pills > li > a {
    border-radius: 0px;
}

.tbd-frontend .thumbnail {
    padding: 0;
    margin-bottom: 0;
    border-radius: 0px;
}

.productDetail .col-md-4 h4, .productDetail .col-md-6 h4 {
    margin-top: 0px;
}

.productDetail #owners .col-md-6 h4,
.productDetail #planholder .col-md-4 h4 {
    margin-top: 10px;
}

.productDetail .col-md-4 h4, .productDetail .col-md-6 h4, .orange-color {
    color: #084887

}

.productDetail .projectTitle {
    /*height:64px;*/
    margin-right: 0px;
    margin-left: 0px;
    background-color: #fff;
    /*padding-right: 2%;*/

}



.features-ribon .col-lg-2 h4 {
    display: none;
    opacity: 0;
}

.productDetail .downloadHistoryUser a {
    /*font-size:20px;
    text-decoration: none;
    color: #fff;*/
}

.productDetail .specs-docs-image {
    width: 25%;
}

.productDetail .tdone h4, .productDetail .tdtwo h4 {
    font-size: 15px;
}

.productDetail .tdone {
    width: 20%;
    background-color: #c8c8c8;
}

.productDetail .tdtwo {

    background-color: #dddbdc;
}

.productDetail {
    margin-top: 2%;
    /*margin-bottom: 4%;*/
    min-height: 750px;
}

/*.productDetail table, th,*/
td {
    /*border: 1px solid #fff;*/
}

.productDetail .newth, #example thead th {
    /*background-color: #808f9b;*/
    background-color: #555;
    color: #fff;
}

.productDetail .tab {
    float: left;
    /*background-color: #f1f1f1;*/
    width: 20%;
    background-color: #ccc;
    /*height: 300px;*/
}

.productDetail .instantAccessForm {
    background-color: white;
    border-top: 5px solid #084887;
    padding: 20px;
}

.productDetail #printableArea .lock {
    color: gray;
}

.productDetail #printableArea p .fa {
    color: #084887;
}

/* Style the buttons inside the tab */
.productDetail .tab a {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    text-decoration: none;
}

/* Change background color of buttons on hover */
.productDetail .tab a:hover {
    background-color: #084887;
    color: white;
}

/* Create an active/current "tab button" class */
.productDetail .tab a.active {
    background-color: #084887;
    color: white;
}

.productDetail .no-results {
    margin-top: 50px;
    margin-left: 20px;
    font-size: 16px;
}

#award .project-awarded {
    background-color: #084887;
    color: white;
}

.productDetail .guest-tab .well {
    /*background-color: unset;
    border: none;*/
}

/* Style the tab content */
.productDetail .tabcontent.guest-tab {
    /*float: left;*/
    padding-left: 0px;
    width: 100%;
}

.productDetail .tabcontent > h4, .productDetail .tabcontent .col-md-12 > h4 {
    display: none;
}

.productDetail .tabcontent {
    float: left;
    padding-left: 0;
    width: 80%;
}

.pricing {
    background: linear-gradient(to right, #ddd, #f5f5f5);
    /*padding-bottom: 7%;*/
}

.pricing .card {
    background-color: #fff;
    /* border: none;*/
    /*border-radius: 1rem;*/
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    /*font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;*/
    width: 100%;
}

.pricing .card, .modal-header {
    border-top: 5px solid #084887;
}

.modal-content {
    border-radius: unset;
}

.uppcase {
    text-transform: uppercase;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    /*    display: block;*/
}

.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
    margin-top: 0;
}

.dropdown-menu li a {
    color: black !important;
    padding: 15px;
}

.main-menu .dropdown {
    /*margin-top: 0 !important;*/
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    /* color: #262626; */
    text-decoration: none;
    /* background-color: #f5f5f5; */
    background-color: #ff5129 !important;
    color: white !important;
    -webkit-transition: all .4s ease-in-out !important;
}

.dropdown-menu li:hover {

}

.padding-r-0 {
    padding-right: 0;
}

.padding-l-0 {
    padding-left: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

/* Contact Us Page*/
.google-map {
    width: 100%;
    float: left;
    position: relative;
}

.google-map iframe {
    width: 100%;
    height: 509px;
    border: 0px;
}

.fa-ul li:nth-child(even), .fa-ul li:nth-child(odd) {
    padding: 5px;
}

.fa-ul li:nth-child(even) {
    background-color: #f5f5f5;
}

ul.cform {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    float: left;
}

ul.cform li {
    margin-bottom: 29px;
}

ul.cform li:last-child {
    margin: 0px;
}

ul.cform li.half {
    width: 50%;
    float: left;
}

.pl-15 {
    padding-left: 15px;
}

.pr-15 {
    padding-right: 15px;
}

ul.cform li.full {
    width: 100%;
    float: left;
}

ul.cform .form-control {
    border: 2px solid #e1e1e1;
    background: #fafafa;
    color: #555555;
    height: 53px;
    line-height: 49px;
    padding: 0 20px;
}

ul.cform textarea.textarea-control {
    border: 2px solid #e1e1e1;
    background: #fafafa;
    color: #555555;
    padding: 20px;
    width: 100%;
    height: 165px;
    border-radius: 5px;
}

.cform .fsubmit {
    width: 100%;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    background: #084887;
    border: 0px;
    /*height: 55px;*/
    line-height: 55px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.contact-form h3 {
    font-weight: 700;
    margin: 0 0 25px;
}

.c-info {
    background: #ffffff;
    border: 1px solid #eeeeee;
    /*border-radius: 5px;*/
    padding: 30px;
}

.c-info:hover {
    box-shadow: 0 0 0 0.2rem #0848875e;
}

#searchModal .form-control:focus {
    -webkit-box-shadow: #999;
    box-shadow: #999;
    border: 1px solid #999;
}

.contact-map-info h6, .c-info h6 {
    font-weight: 600;
    color: #333333;
    font-size: 20px;
}

.contact-map-info p, .c-info p {
    margin: 0px;
    color: #555555;
    font-size: 16px;
    line-height: 26px;
}

.contact-info {
    margin-top: 70px;
}

.contact-info h3 {
    font-weight: 700;
    margin: 0 0 25px;
}

.contact-form {
    width: 100%;
    float: left;
}

.mb60 {
    margin-bottom: 60px;
}

.contact-map-info {
    background: #fff;
    border-radius: 5px;
    width: 350px;
    position: absolute;
    right: 50px;
    top: 50px;
    padding: 30px;
}

.contact-map-info ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.contact-map-info ul li {
    margin-bottom: 30px;
}

.contact-map-info ul li:last-child {
    margin: 0px;
}

.contact-page {
    min-height: 100vh;
    padding: 60px 0;
    background: #f7f7f7;
}

.user-notices h3, #MyElement h3, #MyElementtwo h3 {
    margin: 0px !important;
    font-size: 20px;
}

.pagination > li {
    display: inline-block;
}

.grey-bg {
    background-color: #084887;
}

.zoom {
    /*padding: 50px;
    background-color: green;

    width: 200px;
    height: 200px;*/
    /*    margin: 0 auto;*/
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(0.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.linksContainer a:last-child {
    margin-right: 8px;
}

@media only screen and (min-width: 600px) {
    .tabcontent .print-area,
    .tabcontent .table-responsive {
        margin-left: 0px;
    }

    .backimage {
        background-color: #f5f5f5;
        background-image: url('');
    }

    #cid {
        /*margin-top: 20%;*/
    }

    .sidebar1 {
        /*background: #eee;*/

        /*padding: 20px;*/
        /*min-height: 62%;*/
        /*position: relative;*/
        /*width: 100%;*/

    }

    .tbd-banner {
        background-image: none;
        padding: 20px 0px;
    }
}

/*Margin and Padding helpers*/
/*xs*/
.p-xs {
    padding: .25em;
}

.p-x-xs {
    padding: 0 .25em;
}

.p-y-xs {
    padding: .25em 0;
}

.p-t-xs {
    padding-top: .25em;
}

.p-r-xs {
    padding-right: .25em;
}

.p-b-xs {
    padding-bottom: .25em;
}

.p-l-xs {
    padding-left: .25em;
}

.m-xs {
    margin: .25em;
}

.m-x-xs {
    margin: 0 .25em;
}

.m-y-xs {
    margin: .25em 0;
}

.m-r-xs {
    margin-right: .25em;
}

.m-l-xs {
    margin-left: .25em;
}

.m-t-xs {
    margin-top: .25em;
}

.m-b-xs {
    margin-bottom: .25em;
}

.mb-10 {
    margin-bottom: 10px;
}

.features-ribon .col-xs-6 {
    min-height: 180px;
}

.modal-backdrop {
    z-index: 1049 !important;
}

.navbar-inverse .navbar-collapse {
    border-color: rgba(255, 255, 255, .15);
    /*background-color: white;*/
}

.nav-rigter {
    float: right;
}

.for-image {
    background-image: url('../images/blue-banner.png');
    width: 100%;
    height: 190px;
    background-repeat: no-repeat;
    background-size: contain;
}

.for-gold-image {
    background-image: url('../images/golden-banner.png');
    width: 100%;
    height: 190px;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 767px) {
    .nav-rigter {
        float: none;
    }
}

@media (max-width: 768px) {

    .for-gold-image, .for-image {
        background-size: cover;
        background-position: bottom;
    }

    .tbd-menu {
        padding: 0px 15px !important;
    }

    .secondElement {
        /*margin-top: 10px;*/
    }
    .plans-acc-head{
        font-size: 20px;
    }

    .linksContainer {
        text-align: center;
        font-size: 12px;
        padding: 8px 0;
    }

    #mobilediv {
        margin-top: 0px !important;

    }

    #myNavbar .search-bar {
        padding-top: 0px;
    }

    .newcf {
        /*margin-top: 20% !important;*/

    }

    .detail-loc {
        border: none !important;
    }

    .detail-name {
        padding-left: 0 !important;
    }

    .main-menu li:hover .menu-green-border,
    .main-menu .current + div {
        color: #333;
        display: block !important;
        border-top: 1px solid #39c1a8;
        width: 17%;
        border-radius: 7px 7px 7px 7px;
        height: 3px;
        background-color: #39c1a8;
        text-align: left;
        margin-top: -2px;
        margin-left: 15px;
    }

    .navbar-inverse .navbar-nav > li > a:hover + div {
        display: none !important;
        color: #333 !important;
    }

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #333 !important;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #333 !important;
    }

    .tbd-banner {
        padding: 100px 0px;
    }

    .carousel-inner {
        /*height: 320px;*/
    }

    .mobileresp {

        display: none;
    }

    .mobilep {
        width: 100% !important;
    }

    .mobiledivv {

        /*margin-left: 6% !important;*/
    }

    .footer-right {
        margin-left: 0% !important;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: rgba(255, 255, 255, .15);
        /*background-color: #f5f5f5;*/
    }

    .mobileimg {

        width: 50%;
    }

    .container-fluid, .top-header .container-fluid, .container-fluid, .footer .container-fluid, .tbd-header .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .custab {
        margin-top: 5px;
    }

    .productDetail .tab {
        float: none;
        /*background-color: #f1f1f1;*/
        width: 100%;
        /*height: 300px;*/
    }

    .productDetail .tabcontent {
        width: 100%;
        padding-left: 0px;
    }

    .productDetail .tab button.active {
        color: #fff;
        background-color: #084887;
    }

    .projectTitle .row.text-center {
        text-align: left;
    }

    .productDetail .projectTitle {
        padding: 15px 0px;
    }

    .save-search {
        padding: 20px 0px;
    }

    .p-sm {
        padding: .5em;
    }

    .p-x-sm {
        padding: 0 .5em;
    }

    .p-y-sm {
        padding: .5em 0;
    }

    .p-t-sm {
        padding-top: .5em;
    }

    .p-r-sm {
        padding-right: .5em;
    }

    .p-b-sm {
        padding-bottom: .5em;
    }

    .p-l-sm {
        padding-left: .5em;
    }

    .m-sm {
        margin: .5em;
    }

    .m-x-sm {
        margin: 0 .5em;
    }

    .m-y-sm {

        margin: .5em 0;
    }

    .m-t-sm {
        margin-top: .5em;
    }

    .m-r-sm {
        margin-right: .5em;
    }

    .m-b-sm {
        margin-bottom: .5em;
    }

    .m-l-sm {
        margin-left: .5em;
    }

    .container-fluid > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container > .navbar-header {
        /*   margin-right: 150px;
           margin-left: 150px;*/
    }

    .features-ribon .col-sm-4 {
        min-height: 200px;
    }

    .container-fluid > .navbar-header {
        min-height: 75px;
    }

    .navbar-header.m-20 {
        margin-top: 0px;
    }

}

@media (min-width: 767px) and (max-width: 1300px) {

    .navbar-form .input-group .input-group-btn {
        width: 1px;
    }

    .navbar-form {
        padding-right: 0px;
    }

    .tbd-header nav {
        /*   height: 125px;*/
    }

    .search-page {
        /*margin-top: 120px;*/
    }

    .save-search {
        padding: 20px 0px;
    }

    #myNavbar .search-bar {
        padding-left: 0px;
        padding-top: 0px;
    }

    #myNavbar .tbd-menu {
        padding-right: 2% !important;
    }

    #myNavbar .navbar-nav {
        float: left;
    }

    #myNavbar .nav-rigter {
        padding-top: 8px;
    }

}

@media (min-width: 1400px) and (max-width: 1518px ) {
    #myNavbar .tbd-menu {
        padding: 0px
    }
}

@media (min-width: 325px) and (max-width: 739px) {
    .three-box .col-sm-4 {
        width: 300px;
        margin: 0 auto;

    }
}

@media (min-width: 740px) and (max-width: 768px) {
    .three-box .col-sm-4 {
        width: 33.33333333%;
        float: left;
    }

}

@media (min-width: 450px) and (max-width: 991px) {

    .quantitytakeoffs .container,
    .intro-video .container {
        width: 72%
    }

}

@media (min-width: 992px) {

    .navbar > .container-fluid .navbar-brand {
        margin-top: -10px;
    }

    .pmt-20 {
        padding-top: 0;
    }

    .p-md {
        padding: 1em;
    }

    .p-x-md {
        padding: 0 1em;
    }

    .p-y-md {
        padding: 1em 0;
    }

    .p-t-md {
        padding-top: 1em;
    }

    .p-r-md {
        padding-right: 1em;
    }

    .p-b-md {
        padding-bottom: 1em;
    }

    .p-l-md {
        padding-left: 1em;
    }

    .m-md {
        margin: 1em;
    }

    .m-x-md {
        margin: 0 1em;
    }

    .m-y-md {
        margin: 1em 0;
    }

    .m-t-md {
        margin-top: 1em;
    }

    .m-r-md {
        margin-right: 1em;
    }

    .m-b-md {
        margin-bottom: 1em;
    }

    .m-l-md {
        margin-left: 1em;
    }

    .pricing .card:hover {
        margin-top: -0.25rem;
        margin-bottom: 0.25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

    .pricing .card:hover .btn {
        opacity: 1;
    }

    /*#mr {
        height: 1050px !important;
    }*/
}

@media (max-width: 992px) {

    .tag-subcontractor {
        background-position: 45%;
    }

    #mr {
        /*height: 1100px !important;*/
    }

    #mr2 {
        margin-top: 24% !important;
    }
}

/*lg*/
@media (min-width: 1200px) {
    .nav-rigter {
        margin-top: 0px;
    }

    .p-lg {
        padding: 1.5em;
    }

    .p-x-lg {
        padding: 0 1.5em;
    }

    .p-y-lg {
        padding: 1.5em 0;
    }

    .p-t-lg {
        padding-top: 1.5em;
    }

    .p-r-lg {
        padding-right: 1.5em;
    }

    .p-b-lg {
        padding-bottom: 1.5em;
    }

    .p-l-lg {
        padding-left: 1.5em;
    }

    .m-lg {
        margin: 1.5em;
    }

    .m-x-lg {
        margin: 0 1.5em;
    }

    .m-y-lg {
        margin: 1.5em 0;
    }

    .m-t-lg {
        margin-top: 1.5em;
    }

    .m-r-lg {
        margin-right: 1.5em;
    }

    .m-b-lg {
        margin-bottom: 1.5em;
    }

    .m-l-lg {
        margin-left: 1.5em;
    }

    .container {
        /*width: 1320px;*/
    }
}

/*xl*/
.p-xl {
    padding: 3em;
}

.p-x-xl {
    padding: 0 3em;
}

.p-t-xl {
    padding-top: 3em;
}

.p-r-xl {
    padding-right: 3em;
}

.p-b-xl {
    padding-bottom: 3em;
}

.p-l-xl {
    padding-left: 3em;
}

.m-xl {
    margin: 3em;
}

.m-x-xl {
    margin: 0 3em;
}

.m-y-xl {
    margin: 3em 0;
}

.m-t-xl {
    margin-top: 3em;
}

.m-r-xl {
    margin-right: 3em;
}

.m-b-xl {
    margin-bottom: 3em;
}

.m-l-xl {
    margin-left: 3em;
}

.m-t-0 {
    margin-top: 0px;
}

.p-t-0 {
    padding-top: 0px;
}

.m-b-0 {
    margin-bottom: 0px
}

.m-0 {
    margin: 0px
}

.site-footer .social-network .fa, .site-footer .social-network .fas {
    font-family: "FontAwesome";
}

.material-icons {
    color: #39c1a8;

}

.top-list li {
    float: left;
    width: 32%;
}

.page-content-area-tbd {
    /*padding-bottom: 20px;*/
}

.list li, .list li i {
    font-size: 15px !important;
}

.list li {
    list-style: none;
    line-height: 2.3;
    color: #555;
}

.ny-cities {
    margin-bottom: 30px;
    color: black;
    margin-top: 50px;
    font-weight: bold;
}

.list {
    padding-left: 0px;
    color: #918d8d;
}

.paragraph {

    color: black;
}

.video-embed-tbd {
    cursor: pointer;
}

.header-content {
    color: white;
}

.header-content .intro {
    font-size: 24px;
}

.header-content .heading {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.header-content ul li {
    font-size: 22px;
}

.header-content ul {
    list-style: none;
    padding-left: 0px;
    margin: 20px 0px;
}

.large-btn {
    width: 350px;
}

.video-container {
    text-align: center;
    width: 70%;
    margin: 30px auto;

}

#example_paginate .pagination {
    padding-top: 0px;
    padding-right: 0px;
}

#example_paginate {
    float: right;
}

.loader, .loader::before, .loader::after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader::before, .loader::after {
    content: '';
    position: absolute;
    top: 0;
}

.loader::before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader::after {
    left: 3.5em;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('../images/default.gif');
    background-repeat: no-repeat;
    background-color: #FFF;
    background-position: center;
}

.navbar-right {
    display: contents;
}

.sash tr td {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 40px;

}

.sash tr td.prova:after {
    content: attr(data-ribbon);
    position: absolute;
    width: 81px;
    height: 32px;
    background: #084887;
    /*background: #428bca;*/
    color: white;
    top: -5px;
    text-align: center;
    line-height: 15px;
    margin-top: -5px;
    /* right: 127px; */
    left: -37px;
    transform: rotate(137deg);
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.navbar-inverse .navbar-nav .others .title-menu-other:hover {
    /*color: #ff7829;*/
    color: #084887;
    /*background-color: #ff5129;*/
}

.navbar-inverse .navbar-nav .others .title-menu-other {
    color: #333;
    font-weight: 500;
    text-decoration: none;
    padding: 15px;
    font-size: 16px;
}

.in {
    /*height: auto !important;*/
}

.others .dropdown-content {
    /*top: 45px;*/
}

.footer-left {
    margin-left: 0% !important;
}

.col-lg-4 .text-center {

    display: inline-block;
}

.tbd-menu {
    /*padding-top: 5px;*/
}

.blue-button-bg:hover, .blue-button-bg:focus {
    color: white;
}

.nav-rigter .blue-button-bg {
    background-size: contain;
}

.modal-dialog {
    margin: 10px auto;
}

.pricing .card-body {
    min-height: 440px;
}

.btn-width {
    min-width: 160px;
}

.footer-right {
    margin-left: 60%;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

li {
    cursor: pointer;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

.blue-bg-search-filter {
    background-color: #084887;
    color: #ffffff;
    padding: 15px 0px;

}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: transparent;
}

.table-striped > tbody > tr:nth-of-type(2n+1) td {
    background-color: #f9f9f9;
    border-radius: 5px;
}

.navbar-form .form-control:focus {
    -webkit-box-shadow: inset 0 3px 5px #efefef;
    box-shadow: inset 0 3px 5px #efefef;
}

#myNavbar .search-bar .btn-default:hover, #myNavbar .search-bar .btn-default:active, #myNavbar .search-bar .btn:active, #myNavbar .search-bar .btn:hover, #myNavbar .search-bar .btn:focus {
    background-color: #efefef !important;
    border-color: #efefef !important;
    -webkit-box-shadow: inset 0 3px 5px #efefef;
    box-shadow: inset 0 3px 5px #efefef;
    color: #f0542d;
}

/*modal css*/

.button-search-second .button2 {
    width: 90%;
    background-size: contain;
}

.myModalPlan .modal-content {
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important;
}

.myModalPlan .border-gray {
    border-radius: 19px 0 0 19px;
    text-align: center;
    border: none;
}

.myModalPlan .after-searching {
    margin-top: 0;
}

.myModalPlan .border-blue {
    background-color: #ebebeb;
    text-align: center;
    border: none;
    border-radius: 0 19px 19px 0;
    /*padding: 25.3% 0;*/
    padding: 18.6% 0;
}

.myModalPlan .pro-title {
    padding: 0px 0 20px 0;
    color: #084887;
    font-weight: 600;
}

.myModalPlan .takeoff {
    padding: 10px 0;
    color: #084887;
    font-weight: 600;
}

.myModalPlan .close {
    opacity: unset;
    right: 32px;
    z-index: 999999;
    top: 20px;
    font-size: 36px;
    color: #f0542c;
    position: absolute;
}

.myModalPlan .modal-content {
    position: relative;
}

.myModalPlan .buy-btn {
    background-color: #f0542c;
    color: white;
    text-align: left;
    border-radius: 15px;
    width: 60%;
    padding: 6px 20px;
}

.myModalPlan .border-blue .button-arrow {
    padding-right: 2%;
    /*padding-top: 10%;*/
    padding-top: 6.5%;
    font-size: 22px;


}

.myModalPlan .btn-cont {
    margin-top: 30px;
}


#plans-modal .sub-title{
    color: #084887;
    font-weight: 600;
    padding: 0 60px;
    font-size: 18px;
}

#plans-modal .buy-btn{
    width: 50%;
    padding: 20px 20px;
}

#plans-modal .button-arrow{
    padding-top: 4px;
}

#plans-modal .border-blue {
    padding: 25.3% 0;
}






/*end modal css*/
.mobileNavFixes {
    position: relative !important;
    z-index: unset;
}

.gooey {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    margin: 48vh 45vw;
    background: #fff;
    /*filter: contrast(20);*/
}

.ajax-loader {
    position: absolute;
    height: 0px;
    margin: 15vh 26vw;
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-flicker {
    -webkit-animation: flickerAnimation 1.5s infinite;
    -moz-animation: flickerAnimation 1.5s infinite;
    -o-animation: flickerAnimation 1.5s infinite;
    animation: flickerAnimation 1.5s infinite;
}

.overflow-hide {
    overflow: hidden;
}

.gooey .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(1px);
    background: #f0542d;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
}

.gooey .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
}

.gooey .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(1px);
    background: #f0542d;
    border-radius: 50%;
}

.rounded {
    display: inline-flex;
}

.navbar-nav {

    float: right;
}

@media only screen
and (max-device-width: 1300px) {

    .search-filter-c.affix {
        top: 155px !important;
    }

    /*.container{
        width:915px;
    }*/
}

@media only screen
and (min-device-width: 1025px)
and (max-device-width: 1880px) {

    .date-range-s input {
        width: 140px;
    }

    .header-search-input {
        padding-left: 10px !important;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        color: transparent !important;
        background: none !important;
        position: absolute !important;
        width: 33% !important;
    }

    .search-toggle {
        padding: 0px 13px !important;
    }

    .bid-range-s input {
        width: 140px;
    }

    .button-search-second .button2 {
        width: 120px !important;
        background-size: contain;
    }

}

/* iPad Orientation:Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {

    .main-menu li:hover .menu-green-border,
    .main-menu .current + div {
        color: #333;
        display: block !important;
        border-top: 1px solid #39c1a8;
        width: 50%;
        border-radius: 7px 7px 7px 7px;
        height: 3px;
        background-color: #39c1a8;
        text-align: left;
        margin-top: -2px;
        margin-left: 15px;
    }

    .secondElement {
        text-align: right;
    }

    .navbar-form .input-group .input-group-btn {
        width: 2px !important;
    }

    .plans-sub.ameoba-right-pattern, .default {

        padding: 0px !important;
    }

    .my-margin-top {

        margin-bottom: 30px !important;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        color: transparent;
        background: none;
        position: absolute;
        width: 33%;
    }

    #myNavbar {
        margin-top: 0;
    }

    .projectTitle h5 {
        font-size: 13px;
    }

    .reward-tag img {
        right: 140px !important;
        width: 125px !important;
        top: -45px !important;
    }

    .search-wid {
        width: 280px !important;
    }

    .button-search-second .button2 {
        width: 175px;
        /*width: 110px;*/
        -webkit-background-size: contain;
        background-size: contain;
    }

    .search-tablet-resolution-fix .col-md-6, .search-toggle {
        width: 50% !important;
    }

    #why-us .we-are-master {
        padding: 30px 0px 30px 0px !important;
    }

    #why-us .ready-for-quality {
        color: black;
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 50px;
    }

    #why-us .about-us-banner {
        width: 50% !important;
    }

    #why-us .we-are-master .col-md-6.align-right {
        text-align: center !important;
    }

    #why-us .like-bid {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    #why-us .like-a-winner {
        margin-bottom: 20px;
        font-size: 26px;
    }

    .col-centered {
        text-align: center;
        padding-top: 20px;
    }

    .paragraph {
        margin-top: 50px !important;
    }

    .map-image {
        /*width: 60% !important;*/
    }

    .area-two {
        padding-top: 8px;
    }

    .map-img-2 {
        width: 45% !important;
    }

    .Connecticut-Countries {
        padding-top: 50px !important;
    }

    .myModalPlan .padding-r-0 {
        padding: 0 !important;
    }

    .myModalPlan .padding-l-0 {
        padding: 0 !important;
    }

    .myModalPlan .border-gray {
        border-radius: 19px 19px 0 0;
    }

    .myModalPlan .border-gray {
        margin-bottom: 0px;
    }

    .myModalPlan .border-blue {
        border-radius: 0 0 19px 19px;
    }

}

/* iPad Orientation:Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {

    .for-gold-image, .for-image {
        height: 150px;
    }

    .myModalPlan .button-orange span {
        font-size: 16px !important;
    }

    .myModalPlan .button-orange p {
        font-size: 14px !important;
    }

    .myModalPlan .border-blue {
        padding: 32.3% 0;
    }

    .button-search-second .button2,
    .search-drop-toggle .search-toggle {
        width: 150px;
    }

    .border-first.project-takeOff {
        padding: 35px;
    }

    .border-first .search-book img {
        width: 52% !important;
    }

    .search-tablet-resolution-fix .col-md-6 {
        width: 100%
    }

    .search-drop-toggle {
        text-align: left !important;
    }

    .rounded {
        display: inline;
    }

    .plans-sub.ameoba-right-pattern, .default {

        padding: 0px !important;
    }

    .my-margin-top {

        margin-bottom: 60px !important;
    }

    #why-us .we-are-master {
        padding: 30px 0px 30px 0px !important;
    }

    #why-us .ready-for-quality {
        color: black;
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 50px;
    }

    #why-us .about-us-banner {
        width: 60% !important;
    }

    #why-us .we-are-master .col-md-6.align-right {
        text-align: center !important;
    }

    #why-us .like-bid {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    #why-us .like-a-winner {
        margin-bottom: 20px;
        font-size: 26px;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        color: transparent;
        background: none;
        position: absolute;
        width: 75%;
    }

    .reward-tag img {
        right: 170px !important;
        width: 135px !important;
        top: -45px !important;

    }

    .tbd-header .container-fluid {
        /* margin: 15px !important;
         padding: 15px !important;*/
    }

    .navbar-brand .pmt-20 {
        padding: 0;
    }

    .productDetail .downloads-button {
        min-width: 118px;
        padding-left: 10px;
        font-size: 14px;
    }

    .productDetail .button-arrow {
        padding-top: 3px;
        padding-right: 0;
    }

    .projectTitle h5 {
        font-size: 12px;
    }

    #myNavbar .search-bar input {
        margin-left: 20px;
    }

    .search-filter-c .col-md-2 {
        width: 50%;
    }

    .search-filter-c .col-md-4 {
        width: 100%;
    }

    .fixBtns .printBtn {
        margin-bottom: 10px;
    }

    .rotate-free {
        left: 60% !important;
    }

    .bid-range-s {
        /*margin-top: 1em;*/

    }

    .bid-range-s input {
        min-width: 95%;
    }

    .loc-wid {
        width: 100% !important;
    }

    .secondElement {
        text-align: center;
    }

    .project-description {
        padding: 10px 0;
    }

    .date-range-s input {
        min-width: 95%;
    }

    .secondElement {
        padding: 0px;
    }

    .to-search-field {
        padding-left: 10%;
    }

    .footer-right {
        margin-left: 50%;
    }

}

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait) {
    .rounded {
        display: inline;
    }

    /*.search-tablet-resolution-fix .col-md-6,*/
    .search-toggle {
        width: 100% !important;
    }

    .border-first {
        padding: 10px;
    }

    .border-last {
        padding-bottom: 30px
    }

    .rotate-free {
        left: unset !important;
        right: 20%;
    }

}

/*MSc. ODD Resolutions Fix*/
@media only screen and (min-width: 992px) and (max-width: 1300px) {
    .btn-width {
        /*min-width: unset;*/
    }

    .fixBtns .col-md-4 {
        width: 100%
    }

    .search-bar,
    .tbd-menu {
        width: 100%;
    }

    #myNavbar {
        /*padding-top: 10px;*/
    }

    .tag-subcontractor {
        background-position: 52% 0;
    }

    .mobileimg {
        padding-top: 17px;
    }
}

@media only screen and (max-width: 767px) {

    .saved-new-search-btn {
        margin-top: 10px;
    }

    .myModalPlan .padding-r-0 {
        padding: 0 !important;
    }

    .myModalPlan .padding-l-0 {
        padding: 0 !important;
    }

    .myModalPlan .border-gray {
        border-radius: 19px 19px 0 0;
    }

    .myModalPlan .border-gray {
        margin-bottom: 0px;
    }

    .myModalPlan .button-orange span {
        font-size: 16px !important;
    }

    .myModalPlan .button-orange p {
        font-size: 14px !important;
    }

    .myModalPlan .border-blue .button-arrow {
        padding-right: 2%;
        padding-top: 9%;
        font-size: 18px;
    }

    .myModalPlan .border-blue {
        border-radius: 0 0 19px 19px;
    }

    .navbar-nav .open .dropdown-menu {
        background-color: #f3f1f1;
        border-radius: 0px;
    }

    .productDetail .specs-docs-image {
        width: 60%;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        color: transparent;
        background: none;
        position: absolute;
        width: 75%;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 4px;
    }

    .btn.btn-reveal {
        padding-left: 4px;
        padding-right: 4px;
        overflow: hidden;
        position: relative;
    }

    .top-heading {
        font-size: 26px;
    }

    .my-size {
        font-size: 22px !important;
    }

    .heading-points {
        padding-top: 5px;
    }

    .line-side {
        text-align: right;
        padding-right: 30px;
        padding-bottom: 40px;
        margin: 0;
    }

    .line-side img {
        width: 35%;
    }

    #myNavbar {
        position: fixed;
        margin-top: 0px;
        top: 0px;
        left: 15px;
        z-index: 9999;
        width: 90%;
        height: 110%;
        overflow: hidden;
        padding: 0px 20px;
        margin-bottom: 0px;
    }

    .menu-overlay {
        display: none;
        background-color: #000;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        filter: alpha(opacity=50);
        /* IE7 & 8 */
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1049;
    }

    .mobileNavFixes .navbar-brand, .navbar-nav {
        float: none;
    }

}

@media only screen and (max-width: 600px) {

    .icoRss {
        margin-top: 20px !important;
    }

    .dropdown-content {
        position: initial !important;

    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        color: transparent;
        background: none;
        position: absolute;
        width: 75%;
    }

    .nav-rigter {
        float: none !important;
    }

    .p-y-xl {

        padding: 3em 0;
        display: inline-block;
    }

    .top-header .col-md-12 {
        /*display: inline;*/
    }

    .navbar-inverse .m-20 {
        /*margin-bottom: 20px;*/
    }

    .gooey {
        margin: 45vh 35vw;
    }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    .border-first.project-takeOff {
        padding: 35px;
    }

    .border-first .search-book img {
        width: 52% !important;
    }
}

@media only screen and (min-width: 993px) {
    .right-align {
        text-align: right;
    }

    .center-align {
        text-align: center;
    }

}

@media only screen and (min-width: 1300px) {
    .nav-rigter {
        margin-top: 8px;
    }
}

@media only screen and (min-width: 1400px) {
    .container-fluid, .top-header .container-fluid, .footer .container-fluid, .tbd-header .container-fluid {
        padding-left: 80px;
        padding-right: 80px;
    }

    .search-filter-c .container-fluid {
        padding-left: 170px;
        padding-right: 170px;
    }

    .container-fluid.productDetail {
        padding-left: 125px;
        padding-right: 125px;
    }

    .listing-container {
        padding: 0 175px;
    }

}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent !important;
    background: none;
    position: absolute;
    width: 30%;
    height: 20px;
    appearance: none;
}

input[type="date"]::-webkit-clear-button {
    display: none; /* Hide the button */
    -webkit-appearance: none; /* turn off default browser styling */
}

input[type="date"]::-webkit-inner-spin-button {
    display: none; /* Hide the button */
    -webkit-appearance: none; /* turn off default browser styling */
}

input[type="date"]::-webkit-outer-spin-button {
    display: none; /* Hide the button */
    -webkit-appearance: none; /* turn off default browser styling */
}

.copyright-info{
    text-align: center;
    padding-bottom: 10px;
}