.my-image-firsrt {

}

.my-size {
    font-size: 28px;
    font-weight: initial;
}

.fa-check {
    color: #39c1a8;
}

.button2 {
    background-color: #f0542d;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    width: 215px;
    text-align: left;
    padding-left: 15px;
    padding-right: 5%;
    padding-bottom: 8px;
}

.listing h2 {
    font-weight: bold;
}

.offer-sec-img {
    width: 80px;
    margin-bottom: 3px;
    /*height: 106px;*/
}

.reward-tag {
    position: relative;
}

.reward-tag img {
    position: absolute;
    right: 250px;
    width: 155px;
    top: -55px;
}

.search-select {
    border-radius: 5px !important;
    /*width: 75% !important;*/
    padding: 5px;
    font-size: 15px;
    /*line-height: 1;*/
    border: 0;
    border-radius: 5px;
    height: 34px;
    background: url('../images/dropdown.png') no-repeat right;
    -webkit-appearance: none;
    background-position-x: 95%;
    height: 44px !important;
}

.search-select:focus {
    outline: 0 !important;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select {
    background: transparent;
}

.home-explore-btn {
    background-color: #f0542d;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 15px;
    border: none;
    width: 185px;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
}

.search-toggle {
    background-color: #2f649a;
    border: 1px solid #2f649a;
    border-radius: 5px;
    height: 45px;
    color: white;
    padding: 0 20px;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.my-button-firsrt {
    margin-top: 38px;
    font-weight: bold;
}

.line-content {
    text-align: center;
    padding: 17px;
}

.for-color {

    background-image: url('../images/city-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 112px;
    background-position: center;
    min-height: 768px;
    /*margin-top: 60px;*/
}

.after-searching h3 {
    font-size: 18px;
}

.border-gray .search-book h4 {
    /*font-size: 15px;*/
    /*padding: 0 15px;*/}

.m-20 {
    margin-top: 20px;
}

.mtb-15 {
    margin: 15px 0;
}

.p-40 {
    padding: 40px;
}

.pb-80 {
    padding-bottom: 83px;
}

.green-border {
    border-top: 1px solid #39c1a8;
    width: 8%;
    border-radius: 7px 7px 7px 7px;
    height: 5px;
    background-color: #39c1a8;
    text-align: center;
    margin: 0px auto;
    margin-top: 5px;
}

.line-height {
    text-align: center;
}

.line-side {
    margin-left: 60%;
    text-align: center;
    margin-top: -76px;

}

select:active {
    color: white;
    box-shadow: unset;
}

select:hover {
    color: white;
    box-shadow: unset;
}

.break {
    margin-top: 20px;
}

.margin {
    margin-top: 50px;
    font-weight: bold;
}

.plans-desc {
    font-size: 16px;
}

.tw0-box {
    text-align: center;
    /*    background-image: url('../images/splash-1.png');
        background-repeat: no-repeat;
        background-size: cover;*/
    /*padding-bottom: 131px;*/
}

.border-gray {
    border: 1px solid #dfdfdf;
    border-radius: 19px;
    background-color: #084887;
    color: white;
    padding: 50px 0px 50px 0px;
}

/*.search-book{*/
/*margin-bottom: 34px;*/
/*color: gray;*/
/*font-size: 14px;*/
/*!*padding: 30px 0;*!*/
/*}*/

.save-search .search-select {

}

.save-search .header-search-input {
    background-color: #454545;
}

.save-search {
    background-color: #454545;
}

.save-search .secondElement {
    text-align: left;
    /*padding-top: 5px;*/
}

 .alert-dismissible .close {
    color: white !important;
    font-size: 30px !important;
    top: -6px !important;
}

 .close {
 opacity: 2 !important;
}

.footer-detail {
    padding-top: 40px;
    color: #b5b5b5;
}

.footer-search-input {
    background-color: #616161;
    border: #616161;
    border-radius: 5px 0px 0px 5px !important;
    height: 45px;
}

.footer-search .form-control:focus {
    border-color: #454545 !important;
    outline: 0;
    -webkit-box-shadow: #454545 !important;
}

.footer-search-btn {
    background-color: #616161 !important;
    border: #616161 !important;
    border-radius: 0px 5px 5px 0px !important;
    height: 45px !important;
}

.f-s-icon {
    color: white;
    font-size: 18px;
    padding-right: 10px;
}

.search-label {
    font-size: 16px;
    padding-bottom: 5px;
    color: #b5b5b5;
}

.footer-search {
    width: 75%;
    float: right;
}

.main-search {
    height: 45px;
    border-radius: 5px;
    background-color: #fff;
    border: none !important;
}

.footer-icons {
    padding-top: 40px;
}

.searching {
    margin-bottom: 35px;
    /*margin-top: 53px;*/
    padding-top: 28px;
}

.after-searching {
    margin-top: -41px;
    font-size: 14px;
}

.book-image {
    margin-top: 33px;
}

.search-book {
    margin-top: 30px;
    margin-bottom: 25px;
    color: white;
}

.button1 {

    font-weight: bold;
    border-radius: 5px;
    font-size: 17px;
    padding-left: 15px;
    border: none;
    width: 210px;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
}

.button-list-details {
    padding: 10px 32px;
    background-color: #084887;
    color: white;
    border-top: 8px solid #56a6db;
    border-radius: 6px;
    font-size: 16px;
}

.three-box {
    text-align: left;
}

.blue-background {
    border: 1px solid #084887;
    border-radius: 10px 85px 10px 10px;
    background-color: #084886;
    color: white;
    padding: 0px 0px 33px 22px;
}

.blue {
    border: 1px solid gray;
    border-radius: 10px 85px 10px 10px;
    background-color: #1267b8;
    color: white;
    padding: 0px 0px 33px 22px;
}

.blue-one {
    border: 1px solid gray;
    border-radius: 10px 85px 10px 10px;
    background-color: #0b559e;
    color: white;
    padding: 0px 0px 33px 22px;
}

.button-cool {
    margin-top: 43px;
}

.button-mid {
    margin-top: 76px;
}

.button31 {
    background-color: #f0542d;
    border-radius: 5px;
    font-size: 26px;
    font-weight: bold;
    padding-left: 14%;
    border: none;
    color: white;
    width: 90%;
    text-align: left;
    padding-top: 6%;
}

.button3 {
    background-color: #f0542d;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 14%;
    border: none;
    color: white;
    width: 65%;
    text-align: left;
    padding-top: 2%;
}

@media only screen and (max-width: 600px) {

}

.line-down-two {
    text-align: center;
    margin-bottom: 64px;

}

.line-down {
    text-align: center;
    margin-bottom: 3px;
    font-size: 32px;
}

.tw0-box .line-down {
    padding: 80px 0;
}

.ptb-60 {
    padding: 80px 0;
    color: #4A4A4A;
}

.for-color .line-down {
    text-align: center;
    margin-top: 150px;;
}

.tw0-box .line-down {
    text-align: center;
    margin-top: 0;
    color: #4A4A4A;
}

.offers {
    padding-top: 50px;
}

.head-bold {
    font-weight: bold;
}

@-moz-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@-webkit-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@-o-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@-moz-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

@-webkit-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

@-o-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

@keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

.my-image-firsrt {
    background-image: url('../images/Buildings-underConstruction@2x.png');
    background-repeat: no-repeat;
    text-align: center;
    background-size: contain;
    background-position: right;

}

.orange-button-bg {
    background-image: url('../images/orange-button-bg.png');
    background-repeat: no-repeat;
    /*//text-align: center;*/
    background-size: cover;
}

.black-button-bg {
    background-image: url('../images/black-button-bg.png');
    background-repeat: no-repeat;
    /*//text-align: center;*/
    /*background-size: cover;*/
    background-size: contain;
}

.downloads-button {
    background-color: #084887;
    color: #FFF !important;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 9px;
    padding-top: 10px;
    min-width: 160px;
    font-weight: bold;
}

.blue-button-bg {
    background-image: url('../images/blue-button-bg.png');
    background-repeat: no-repeat;
    /*//text-align: center;*/
    background-size: contain;
}

.golden-button-bg {
    background-image: url('../images/golden-button-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.white-list-back {
    background-image: url('../images/white-vertical-line.png');
    background-repeat: no-repeat;
    /*text-align: center;*/
    background-size: contain;
    background-position: left;
    /*min-height: 160px;*/
    padding-left: 20px;
}

.grey-list-back {
    background-image: url('../images/grey-vertical-line.png');
    background-repeat: no-repeat;
    /*text-align: center;*/
    background-size: contain;
    background-position: left;
    /*min-height: 160px;*/
    padding-left: 20px;
}

.welcome-image {
    background-image: url('../images/Banner-Document-graphic.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 400px;
    background-position: center;
}

.image-width {
    width: 50%;
    margin-top: 74px;
}

.default {
    padding: 30px;
}

.my-margin-top {
    margin-top: 48px;
    margin-bottom: 80px;
}

.for-border {
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: -8px;
    overflow: hidden;
}

/*.ameoba-right-pattern,*/

.search-filter-c.affix {
    z-index: 20;
    width: 100%;
    top: 88px;
}

.ameoba-right-pattern {
    background-image: url('../images/splash-2.png');
    background-repeat: no-repeat;
    background-position: right -60px;
    /*padding-top: 100px;*/
}

.ameoba-left-pattern {
    background-image: url('../images/splash-1.png');
    background-repeat: no-repeat;
    background-position: -350px -100px;
}

.ameoba-right-top {
    background-position: right -10px;
}

.qto-home h2 {
    font-size: 28px;
    font-weight: bold;
    color: #555;
}

.border-first .search-book {
    margin-top: 25px;
    margin-bottom: 37px;

}

.no-sub {
    padding: 5px 0px;
    color: #555;
}

.sub-con-head {
    text-align: center;
    color: #692df0;
    width: 65%;
    transform: rotate(4deg);
}

.doller {
    text-align: center;
    color: white;
}

.dollar-sign {
    font-size: 25px;
    vertical-align: super;
    margin-right: -8px;

}

.plans-sub.ameoba-right-pattern {
    /*    padding-top: 80px;*/
    background-position: right -35px;
}

.parent-free {
    position: relative;
}

.rotate-free {
    transform: rotate(360deg);
    position: absolute;
    left: 50%;
    top: -42px;
}

.free-tag {
    background-color: #692df0;
    color: white;
    padding: 1px 10px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
}

.full-size {
    font-size: 55px;
    margin-top: 0px;
}

table.plans-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.plans-table td {
    /*border: 1px solid #dddddd;*/
    text-align: left;
    padding-left: 10px;
}

.plans-table th {
    text-align: right;
    padding: 8px;
    padding-right: 10px;
}

.my-button-firsrt-not {

    margin-top: 38px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 26px;

}

.for-image-two {
    background-image: url('../images/golden-banner.png');
    width: 100%;
    height: 229px;

    background-repeat: no-repeat;

    background-size: contain;
}

#qtyTakeOff .blue-button-bg {
    background-size: contain;
}

#qtyTakeOff .orange-button-bg {
    background-size: contain;
}

.close-button-sidbar {
    font-size: 22px;
    border: 1px solid;
    padding: 0px 8px 4px 8px;
    float: right;
    position: absolute;
    right: 10px;
    top: 30px;
    border-radius: 5px;
    color: #084887;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.detail-loc {
    color: #454545;
    display: inline-block;
    border-right: 1px solid black;
    padding-right: 10px;
}

.detail-name {
    color: #454545;
    display: inline-block !important;
    padding-left: 10px;
}

.productDetail .alert {
    margin-bottom: 5px !important;
}

.bottom-top-padding {
    padding-bottom: 60px;
    padding-top: 0px;
}

.line-down-three {
    text-align: center;

    margin-top: -67px;

    margin-bottom: 64px;
}

.top-heading {
    font-weight: bold;
    /*font-size: 48px;*/
}

.heading-points {
    padding-top: 15px;
}

.for-sub-cont {
    color: #f0542d;
    font-style: italic;
}

.heading-points h4 {
    padding: 5px 0;
}

.search-wid {
    /*width: 200px;*/
}

.explore-more {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: bold;
}

.button-arrow {
    float: right;
    padding-top: 6px;
    padding-right: 5%;
}

/*why us Start */

#why-us .about-us-banner {

    /*background: url('../images/aboutus-banner-image.png');*/
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    background-position: center;

}

#why-us .banner-center {
    text-align: center;
}

#why-us .bg-gray, .bg-blue {
    background-color: #6493C1;
    padding: 25px 0 17px 0;
    color: #FFFFFF;
    text-align: center;
    /*margin-top: 85px;*/
}

.bg-blue {
    background-color: #084887 !important;
}

#why-us .like-a-winner {
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
}

#why-us .bg-color-white {
    padding-top: 10px;

}

#why-us .like-bid {
    padding-top: 65px;
    padding-bottom: 116px;
}

#why-us .black-color {
    color: #191919;
    padding-top: 20px;
}

#why-us .about-us {
    font-weight: 800;
    padding-bottom: 10px;

}

#why-us .master {
    font-weight: 700;
    font-size: 22px;
    margin: 13px 0px;
}

#why-us .master-two {
    font-weight: 100;
    color: black;
    font-size: 20px;
}

#why-us .align-center {
    text-align: center;
}

#why-us .align-left {
    text-align: left;
}

#why-us .align-right {
    text-align: right;
}

#why-us .progress-icons {
    width: 58px;
}

#why-us .we-are-master {
    padding: 80px 0px 80px 0px;
}

#why-us .we-are-master-one {
    background-image: url('../images/splash-1.png');
    background-repeat: no-repeat;
    background-position: -215px -47px;
    background-size: contain;
}

#why-us .buildings {
    width: 90%;
    text-align: right;
}

#why-us .bg-color-white {
    padding-top: 20px;
}

#why-us .dark-buildings p {
    font-size: 18px;
    line-height: 1.89;
    font-weight: 300;
}

#why-us .black-color p {
    font-size: 18px;
    line-height: 1.89;
    font-weight: 300;
}

#why-us .bg-green-splash {
    background-image: url('../images/splash-1.png');
    background-repeat: no-repeat;
    background-position: -470px 0px;
    background-size: contain;
}

#why-us .about-us-content {
    width: 72%;
}

@media only screen and (max-width: 600px) {
    #why-us .about-us-content {
        width: 100%;
    }

    #why-us .align-right {
        text-align: center;
    }

    .signal-legnth {

        color: white;
        font-size: 20px;
        margin-top: 3px;
        float: left;

    }
}

#why-us .dark-buildings {
    background-image: url('../images/splash-1.png');
    background-repeat: no-repeat;
    background-position: 1132px 17px;
    background-size: contain;
}

.ready-for-quality {
    color: black;
    padding-top: 60px;
    padding-left: 20px;

}

/*why us End*/

/*coverege area start*/
.cover-area {
    background-image: url('../images/coverage-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 80px;
    border-radius: 5px;
    vertical-align: middle;
    display: table;
}

.signal-legnth {
    color: white;
    font-size: 33px;
}

@media only screen and (max-width: 600px) {
    .signal-legnth {

        font-size: 23px;
        margin-top: 0px;

    }

    .coverage-area-two {
        padding-top: 0%;

    }

    .area-two {
        padding-top: 3px !important;
        padding-left: 32px !important;
    }

}

.area-two {
    padding-left: 32px;
    color: white;
    font-weight: 300;
    margin-bottom: 20px;
}

.material-icons {
    display: none !important;
}

.Connecticut-Countries {
    padding-top: 105px;
}

.paragraph {
    background-color: #F0F0F0;
    border-radius: 5px;
    padding: 15px 20px;
    margin-top: 105px;
    margin-bottom: 20px;
    color: #555;
}

@media only screen and (min-width: 767px) and (max-width: 1400px) {
    /*.tbd-header .container-fluid{*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*}*/
    .rotate-free {
        left: 54%;
    }

}

@media only screen and (min-width: 1850px) {
    .search-drop-toggle {
        text-align: left !important;
    }

    .bid-range-s input {
        min-width: 200px;
    }

    .date-range-s input {
        min-width: 200px;
    }
}

@media only screen and (max-width: 385px) {
    .rotate-free {
        left: 80% !important;
        top: -41px;
    }

    .tag-subcontractor {
        background-position: 77% !important;
    }
}

@media only screen and (max-width: 766px) {
    .tbd-header .container-fluid {
        padding-left: 20px;
        padding-right: 20px;

    }

    .productDetail .awarded-star {
        width: 10% !important;
    }

    .plans-sub.ameoba-right-pattern, .default {

        padding: 0px;
    }

    .my-margin-top {

        margin-bottom: 30px;
    }

    .top-list li {
        float: left;
        width: 48%;
    }

    .tag-subcontractor {
        background-position: 68%;
    }

    .col-centered {
        text-align: center;
        padding-top: 20px;
    }

    .paragraph {
        margin-top: 50px;
    }

    #why-us .we-are-master {
        padding: 30px 0px 30px 0px;
    }

    #why-us .ready-for-quality {
        color: black;
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 50px;
    }

    #why-us .about-us-banner {
        width: 75%;
    }

    #why-us .like-bid {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #why-us .like-a-winner {
        margin: 0;
        font-size: 22px;
    }

    .tag-subcontractor {
        /*background-position: 75%;*/
    }

    .reward-tag img {
        position: absolute;
        top: -37px;
        right: 38px;
        width: 110px;
    }

    .tw0-box .line-down {
        font-size: 26px;
    }

    .search-book h4 {
        font-size: 14px;
    }

    .for-sub-cont {
        font-size: 14px;
    }

    .rotate-free {
        left: 73%;
        top: -41px;
    }

    .map-image {
        width: 100% !important;
        padding-top: 45px !important;
    }

    .paragraph {
        margin-top: 50px;
    }

    .Connecticut-Countries {
        padding: 0;
    }

    .three-box .ptb-60 {
        padding: 35px 0;
    }

    .tw0-box .line-down {
        padding: 35px 0;
    }

    .free-tag {
        padding: 3px 12px;
        font-size: 14px;
    }

    .project-description {
        padding: 10px 0;
    }

    .secondElement {
        text-align: left;
    }

    .button1 {
        font-size: 15px;
        width: 200px;
    }

    .button-search-second-space {
        text-align: right;
    }

    .loc-wid {
        width: 100% !important;
    }

    .search-wid {
        width: 95% !important;
    }

    .for-bg-blue {
        margin-bottom: 15px;
    }

    .search-toggle {
        padding: 0 15px;
    }

    .search-select {
        width: 100% !important;
    }

    .rounded {
        display: unset !important;
    }

}

@media only screen and (max-width: 992px) {
    .bottom-top-padding {
        padding-bottom: 30px;

    }

    /*.navbar-nav {

        float: left;
    }*/
    .fixBtns .printBtn {
        margin-bottom: 10px;
    }

    .project-description {
        padding: 10px 0;
    }

    .search-select {
        width: 100% !important;
    }

    .for-bg-blue {
        margin-bottom: 15px;
    }

    .loc-wid {
        width: 100% !important;
    }

    .button-search-second {
        text-align: left !important;
    }

    .content-center {
        width: 80%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding: 10px 0;
    }

    .footer-logo {
        text-align: center;
    }

    .button-arrow {
        padding-top: 3.5%;
    }

    .home-explore-btn {
        width: 210px;
        font-size: 18px;
    }

    .footer-search {
        float: none;
        width: 100%;
    }

    .footer-icons {
        padding: 0;
        text-align: center;
    }

    .footer-detail {
        padding: 0;
        text-align: center;
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 14px;
    }

    .navbar-inverse .navbar-nav .others .title-menu-other {
        font-size: 14px;
    }

    .top-heading {
        font-size: 26px;
    }

    .my-size {
        font-size: 22px !important;
    }

    .heading-points {
        padding-top: 5px;
    }

    .line-side {
        text-align: right;
        padding-right: 30px;
        padding-bottom: 40px;
        margin: 0;
    }

    .line-side img {
        width: 35%;
    }

    .for-color .line-down {
        text-align: center;
        margin-top: 80px !important;
        font-size: 24px !important;
        margin-bottom: 30px;
    }

    .offers {
        padding-top: 0;
    }

    .explore-more {

        padding: 8px 30px;
    }

    .green-border {
        width: 22%;
    }

    .border-first {
        margin-bottom: 20px;
    }

    .border-gray {
        margin-bottom: 20px;
    }

    .tw0-box {
        padding-bottom: 0;
    }

    .three-box .line-down {
        font-size: 26px !important;
    }

    .three-box .p-40 {
        padding: 20px;
    }

    .blue-background, .blue-one {
        margin-bottom: 10px;
    }

    .listing h2 {
        font-weight: bold;
    }

    .button-mid {
        margin-top: 69px;
    }

    .bottom-slider {
        margin: 0 30px;
    }

    .blue-background h2 {
        font-size: 24px;
    }

    .blue-one h2 {
        font-size: 24px;
    }

    .blue h2 {
        font-size: 24px;
    }

    .button3 {
        /*padding: 6px 40px;*/
        font-size: 18px;
    }

}

@media only screen and (min-width: 993px) and (max-width: 1400px) {
    .three-box, .tw0-box .p-40 {
        padding: 20px;
    }

    .navbar-form .input-group .input-group-btn {
        width: 1px;
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 14px;
    }

    .navbar-inverse .navbar-nav .others .title-menu-other {
        font-size: 14px;
    }

    .bottom-slider {
        margin: 0 30px;
    }

    .button3 {
        /*padding: 6px 80px;*/
    }

    .tw0-box {
        padding-bottom: 0;
    }

}

@media only screen
and (min-width: 1200px) {

    .list-l-p {
        padding-left: 70px;
    }

    .list-r-p {
        padding-right: 70px;
    }

    .list-lr-p {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media only screen
and (min-device-width: 1025px)
and (max-device-width: 1700px) {
    #demo .header-search-input.search-select {
        width: 100% !important;
    }

    .rotate-free {
        left: 51%;
    }
}

@media only screen
and (min-width: 1750px) {
    .bottom-top-padding {
        padding-bottom: 90px;
        padding-top: 30px;
    }

}

@media only screen
and (min-width: 1700px) {
    .myModalPlan .border-blue {
        /*padding: 24.5% 0; Normal behavior */
        padding: 20.5% 0;
    }

    #plans-modal .border-blue {
        padding: 24.3% 0;

    }
}

.button-search-second {
    /*    padding-top: 30px;*/
    text-align: left;
}

.button-search-second-space {
    /*    padding-top: 35px;*/
}

.small-box-for-date {
    border: 1px solid black;

    padding: 11px 62px 11px 21px;

    display: inline;

    border-radius: 6px;
    /* margin-left: 13px;*/
}

.box-margin {
    margin-top: 3%;
    margin-right: 3%;
}

.box-margin-one {

    margin-top: 3%;
    margin-left: 4%;
    margin-right: 3%;

}

.header-search-input {
    background-color: #18548f;
    border: 1px solid white;
    border-radius: 5px;
    height: 45px;
    color: white;
    padding-left: 18px;

}

.bg-sel .header-search-input {
    background-color: #084887;
}

.header-search-input-email {
    border-radius: 4px;
    height: 45px;
    border: 1px solid #efefef !important;
    background-color: #efefef !important;
}

.form-control {
    /*border-radius: 0px 4px 4px 0px;*/
}

.for-bg-blue {
    background-color: #18548f !important;

    padding: 5px 0px 19px 19px;

    border-radius: 6px;
}

.bg-for-margin-top {
    margin-top: 30px;
}

.bold {
    font-weight: 800;
}

select:focus {
    outline: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}

.productDetail tbody {
    background-color: #f4f4f4;
}

.productDetail tbody td {
    padding: 20px 8px !important;
}

.btn-blue {
    background-color: #084887;
    color: #FFF !important;
}

/*tr:nth-child(even) {
    background-color: #dddddd;
}*/
.accordion > .card .card-header {
    background-color: #084887;
}
.accordion h3 button {
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
}
.accordion h3 button:hover, .accordion h3 button:focus {
    color:#ffffff;
    text-decoration: none;
}
.card-header {
    /*border:1px solid #9cbf1b !important;*/
}
.accordion > .card:first-of-type {
   /*// border-bottom:1px solid #9cbf1b !important;*/
}

.card-body {
    background-color: transparent;
/*    margin-top: 20px;*/
}
.card {
    border:0px;
}
.plan-tabs .plans-acc-head .fa{
    font-size:14px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid #fff;
}
.plan-tabs .plans-acc-head{
    font-size: 18px;
}